<div class="pt-3 d-flex flex-column align-items-center">
  <div>
    Имате въпрос? Свържете се с нас!
  </div>
  <div class="d-flex justify-content-between border w-50 mt-3">
    <div class="w-50 p-3">
      <div>
        <fa-icon [icon]="faMailBulk"></fa-icon>
        Пишете ни:
      </div>
      <form [formGroup]="contactFormGroup" (ngSubmit)="onSubmit()" class="w-100">
        <mat-form-field class="d-block">
          <mat-label>Вашият имайл:</mat-label>
          <input formControlName="email" matInput type="email">
          <mat-error *ngIf="emailControl.hasError('required')">
            Имейлът е <strong>задължителен</strong>.
          </mat-error>
          <mat-error *ngIf="emailControl.hasError('email')">
            Трябва да бъде валиден имейл.
          </mat-error>
        </mat-form-field>
        <mat-form-field class="d-block">
          <mat-label>Телефон (незадължително):</mat-label>
          <input formControlName="phone" matInput type="phone">
        </mat-form-field>
        <mat-form-field class="d-block">
          <mat-label>Вашият въпрос:</mat-label>
          <textarea formControlName="message" matInput rows="8"> </textarea>
          <mat-error *ngIf="messageControl.hasError('required')">
            Съобщението е <strong>задължително</strong>.
          </mat-error>
        </mat-form-field>
        <button mat-raised-button color="primary" class="mt-2">Изпрати</button>
      </form>
    </div>
    <div class="d-flex flex-column justify-content-center align-items-center bg-secondary p-3 text-light" style="width: 40%;">
      <p>Или директно на:</p>
      <p> 
        <fa-icon [icon]="faPhone"></fa-icon>
        +111 111 111111
      </p>
      <p>
        <fa-icon [icon]="faMailBulk"></fa-icon>
        testEmail@abv.bg
      </p>
    </div>
  </div>

</div>
