<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <img class="navbar-brand app-logo" src="/assets/x5group_logo.png" width="30" height="30" alt="">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li
        *ngFor="let tab of tabsConfig" 
        class="nav-item">
        <a class="nav-link" [class.active]="isActive(tab.url)" [routerLink]="tab.url">
          <fa-icon [icon]="tab.faIcon"></fa-icon>
          <div>{{ tab.displayName }}</div>
        </a>
      </li>
    </ul>
  </div>
</nav> -->

<ul ngbNav [activeId]="activeFragment$ | async" class="nav-tabs">
  <img class="navbar-brand app-logo" src="/assets/x5group_logo.png" width="30" height="30" alt="">
  <div class="flex-grow-1 flex-shrink-1"></div>
  <li
    *ngFor="let tab of tabsConfig"
    [ngbNavItem]="tab.url"
    class="align-self-end">
    <a ngbNavLink [routerLink]="tab.url">{{ tab.displayName }}</a>
  </li>
</ul>
