<header class="d-flex align-items-end justify-content-between">
    <div class="">
        <img class="navbar-brand app-logo" src="/assets/x5group_logo.png" width="30" height="30" alt="">
    </div>
    <nav mat-tab-nav-bar>
        <a *ngFor="let tab of tabsConfig" mat-tab-link [routerLink]="tab.url" [active]="router.isActive(tab.url, false)">
            <span>
                {{ tab.displayName }}
            </span>
            <fa-icon class="d-inline-flex" [icon]="tab.faIcon"></fa-icon>
        </a>
    </nav>
</header>