<div
    *ngIf="isLoading$ | async else detailsTpl"
    class="d-flex h-100 justify-content-center align-items-center">
    <mat-progress-spinner mode="indeterminate">
    </mat-progress-spinner>    
</div>

<ng-template #detailsTpl>
    <div class="container">
        <div class="row mt-3 justify-content-center">
            <div class="col-sm-6"><img class="img-fluid" [src]="thumbnailUrl$ | async"></div>
        </div>
        <div class="row mt-3">
            <div class="col-sm">
                <p class="project-description">
                    {{ (details$ | async).description }}    
                </p>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <ngx-masonry [options]="masonryOptions">
            <div
                *ngFor="let imageSrc of displayedGalleryImages$ | async"
                ngxMasonryItem
                class="masonry-item"
                (click)="onImgClick(imageSrc)"
            >
                <img [src]="imageSrc" alt="Project card image">
            </div>
        </ngx-masonry>
        <div class="d-flex justify-content-center mb-2">
            <button 
                *ngIf="!(hasReachedEnd$ | async) else backButtonTpl"
                mat-raised-button color="primary"
                (click)="onShowMore()">Още
            </button>
            <ng-template #backButtonTpl>
                <button 
                    mat-raised-button color="primary"
                    (click)="onScrollTop()">
                    <span>Обратно</span>
                    <fa-icon class="ml-1 d-inline-flex" [icon]="faArrowUp"></fa-icon>
                </button>
            </ng-template>
        </div>    
    </div>        
</ng-template>
