.project-description {
    text-align: center;
    font-size: larger;
}

ngx-masonry {
    margin: auto;
    
    .masonry-item {
        width: 300px;
        overflow: hidden;
        cursor: pointer;
        
        img {
            width: 100%;
            border-radius: 4px;
            transition: transform 1s;
            
            &:hover {
                transform: scale(1.2);
            }
        }
        margin-bottom: 10px;
    }
}
