<mat-toolbar>
    <mat-toolbar-row>
        <span><img class="app-logo" src="/assets/x5group_logo.png" alt="x5Group logo"></span>
        <span class="spacer"></span>
        <nav mat-tab-nav-bar>
            <a mat-tab-link [routerLink]="['projects']" [active]="false">
                <span>
                    Обекти
                </span>
                <fa-icon [icon]="faCity"></fa-icon>
            </a>
            <a mat-tab-link [active]="true">
                <span>
                    Апартаменти
                </span>
                <fa-icon [icon]="faBuilding"></fa-icon>
            </a>
            <a mat-tab-link [active]="false">
                <span>
                    Продажби
                </span>
                <fa-icon [icon]="faShoppingCart"></fa-icon>

            </a>
            <a mat-tab-link [active]="false">
                <span>
                    Контакти
                </span>
                <fa-icon [icon]="faIdCardAlt"></fa-icon>

            </a>
        </nav>

    </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>