<div class="container-fluid pt-5">
    <div class="row justify-content-center">
        <div class="col-12 col-lg-4 d-flex flex-column align-items-center justify-content-center">
            <img class="person-image" src="/assets/person_male.png" alt="Person image">
            <p class="home-text">
                Казвам се Боян Йовев.
                През 2005г. основах строително-инвестиционно дружество „ХИКС 5 ГРУП“ ЕООД, 
                като естествено продължение на семейните ни традиции в строителния сектор, предавани през поколенията.</p>
        </div>
        <div class="col-12 col-lg-4 home-image-block">
        </div>
    </div>
    <div class="row justify-content-center mt-4 mb-4">
        <div class="col d-flex justify-content-center">
            <button mat-raised-button color="primary" (click)="toProjects()">
                <span>Към обекти</span>
                <fa-icon class="ml-1 d-inline" [icon]="faArrowRight"></fa-icon>
            </button>
        </div>
    </div>
</div>