.home-text {
    text-align: center;
    font-size: larger;
}

.person-image {
    width: 150px;
    height: 150px;
}

.home-image-block {
    background-image: url('/assets/home_image.jpg');
    background-size: cover;
    height: 420px;
}
        
.to-projects {
    place-content: space-around;
    display: flex;
    margin-top: 2rem;

    &__button-content {
        display: flex;

        p {
            margin: 0;
        }
        
        fa-icon {
            margin-left: 5px;
        }

    }
}