<div
    *ngIf="isLoading$ | async else projectsTpl"
    class="d-flex h-100 justify-content-center align-items-center">
    <mat-progress-spinner mode="indeterminate">
    </mat-progress-spinner>    
</div>
<ng-template #projectsTpl>
    <div class="projects-container">
        <project
            *ngFor="let project of projects$ | async" 
            [@fadeState]="'in'"
            [project]="project"
            (projectNavigate)="onProjectNavigate(project.projectId)"></project>
    </div>
</ng-template>
