<div
    *ngIf="isLoading$ | async else projectsTpl"
    class="d-flex h-100 justify-content-center align-items-center">
    <mat-progress-spinner mode="indeterminate">
    </mat-progress-spinner>    
</div>
<ng-template #projectsTpl>
    <div class="container-fluid pt-4">
        <div class="row projects-container">
            <project-card
                class="col-lg-3 col-md-6 col-sm-12 mb-4"
                elavateOnHover
                *ngFor="let project of projects$ | async" 
                [@fadeState]="'in'"
                [project]="project"
                (projectNavigate)="onProjectNavigate(project.projectId)">
            </project-card>
        </div>
    </div>
        
</ng-template>
