<div class="home-container">
    <div class="home-intro">
        <img class="home-intro__owner-image" src="/assets/person_male.png" alt="Person image">
        <p class="home-text">Казвам се Боян Йовев.
            През 2005г. основах строително-инвестиционно дружество „ХИКС 5 ГРУП“ ЕООД, 
            като естествено продължение на семейните ни традиции в строителния сектор, предавани през поколенията.</p>
    </div>
    <img class="home-image" src="/assets/home_image.jpg" alt="Home image">
</div>
<div class="to-projects">
    <button mat-flat-button color="primary">
        <div class="to-projects__button-content">
            <p>Към проекти</p>
            <fa-icon [icon]="faArrowRight"></fa-icon>
        </div>
        
    </button>
</div>