<mat-card class="h-100 d-flex flex-column justify-content-md-between">
    <mat-card-header>
      <mat-card-title> {{ project.name }}</mat-card-title>
    </mat-card-header>
    <img mat-card-image [src]="project.thumbnailUrl" alt="Project card image">
    <mat-card-content>
        <div class="projects__project__info">
            <div *ngIf="project.projectName">
                <strong>Проект: </strong><em>{{ project.projectName }}</em>
            </div>
            <div>
                <strong>Изпълнител: </strong><em>{{ project.buildCompanyName }}</em>
            </div>
            <div>
                <strong>Статус: </strong><em>{{ projecStatusDisplayNamesMap[project.status] }}
                    {{ project.dueDate ? ' - ' + project.dueDate : ''}}</em>
                <em *ngIf="project.stage">(Етап: {{ project.stage }})</em>
            </div>
        </div>
    </mat-card-content>
    <mat-card-actions class="d-flex justify-content-center">
        <button mat-raised-button color="primary" (click)="onSeeMore()">Перглед</button>
    </mat-card-actions>
  </mat-card>